<!-- {% extends "layout/base.html" %} -->

<!-- {% block title %} Login {% endblock %} -->

<!-- {% block stylesheets %} -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
<!-- Add Bootstrap CSS link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    body {
        background: url("/home/chitransh/softwareLab/project/cs699ProjectSsl/frontend/3047867.jpg") center center fixed no-repeat;
        background-size: cover;
    }

    /* Change text color to red */
    .text-expiryshield {
        color: silver;
    }
</style>
<!-- {% endblock %} -->

<!-- {% block content %} -->
<section>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white text-expiryshield">
                <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
                ExpiryShield    
            </a>    
            <div class="card shadow-lg">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="/home/chitransh/softwareLab/project/cs699ProjectSsl/frontend/hand-pushing-virtual-security-button-on-digital-background-ECMD14.jpg" class="card-img img-fluid h-100" alt="Creative Image">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h1 class="h4 text-center mb-4">Sign in to your account</h1>
                            <form>
                                <div class="form-group">
                                    <label for="email">Your email</label>
                                    <input type="email" class="form-control" id="email" placeholder="name@company.com" required="">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="••••••••" required="">
                                </div>
                                <div class="form-group">
                                    <a href="/forgotpassword" class="small text-primary">Forgot password?</a>
                                </div>
                                <button type="button" class="btn btn-primary btn-block" id="signin">Sign in</button>
                                <p class="mt-3 small text-gray-500">Don’t have an account yet? <a href="#" class="text-primary">Sign up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<div id="toast-container" class="fixed top-0 right-0 p-4">
<!-- Toast notifications will be added here -->
</div>
<!-- {% endblock content %} -->

<!-- {% block javascripts %} -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script src="{{ url_for('static', filename='js/login.js')}}"></script>
<!-- Add Bootstrap JS and Popper.js scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- {% endblock javascripts %} -->
